*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
ol,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
}
/* heading  */
h1,h2,h3,h4{
    font-family: 'Abril Fatface', cursive;
}
h1{
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #fff;
    text-transform: capitalize;
    line-height: 8.5rem; 
}
h1 span{
    color: rgba(11, 207, 11, 0.9);
}
h2{
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    line-height: 5rem; 
}
.section_heading{
    padding-bottom: 5rem;
}
.section_heading h2{
    margin-bottom: 1rem;
}
.section_heading span{
    background-color:  rgba(11, 207, 11, 0.9);
    height: .8rem;
    display: block;
    margin-bottom: .8rem;
    border-radius: 5rem;
    width: 10rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.section_heading span:last-child{
    width: 5.5rem;
}
.roots{
    background: #000;
}
/* start navigation */
.navigation{
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #35363a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s;
    padding: 1.5rem 0;
}
.site_logo{
    height: 6rem;
    width: 15rem;
}
.site_logo img{
    width: 100%;
    height: 100%;
}
.navigation ul{
    flex-basis: 60%;
    text-align: start;
    padding: 0 3rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.navigation ul li{
    margin: .8rem 0;
}
.navigation ul li a{
    box-shadow: -.3rem -.3rem .5rem rgba(0,0,0,.2), .3rem .3rem .5rem rgba(0,0,0,.2);
    text-decoration: none;
    border-radius: .5rem;
    transition: .3s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    display: block;
    color: #fff;
    padding: 1rem 2rem;
    transition: .1s;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
}
.navigation ul li a i{
    margin-right: 1rem;
}
.navigation ul li:hover a{
    color: rgba(11, 207, 11, 0.9);
}
.navigation ul li:hover a{
    box-shadow: inset -.25rem .25rem .1rem 0 rgba(0,0,0,.4), inset .3rem -.3rem .2rem 0 rgba(20,22,28,.1), -.1rem .3rem 0 rgba(63,69,87,.5);
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
}
.navigation ul li  .active {
    box-shadow: inset -.25rem .25rem .1rem 0 rgba(0,0,0,.4), inset .3rem -.3rem .2rem 0 rgba(20,22,28,.1), -.1rem .3rem 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.navigation ul .active a{
    color: rgba(11, 207, 11, 0.9);
}
.menu_bottom_btn{
    text-align: center;
}
.menu_bottom_btn p{
    color: #aaa;
    font-size: 1.6rem;
}
.menu_bottom_btn a{
    text-decoration: none;
}
.menu_btn,
.bbtn{
    text-align: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: rgba(11, 207, 11, 0.9);
    color: #fff;
    border: .1rem solid rgba(11, 207, 11, 0.9);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.menu_bottom_btn a:hover{
    background: rgba(6, 146, 6, 0.9);
    color: #fff;
    border: .1rem solid  rgba(6, 146, 6, 0.9);
    
}
/* mobile menu */
.mobile-menu{
    padding: 1rem 5% 1rem 5%;
    display: none;
    width: 100%;
}
.mobile_logo{
    float: left;
    height: 3.5rem;
}
.mobile_logo img{
    width: auto;
    height: 100%;
}
.sticky_menu{
    position: fixed;
    background: rgba(2, 0, 0, 0.63);
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
}
.mobile-menu .open_nav{
    font-size: 3rem;
    color: #fff;
    float: right;
    cursor: pointer;
}
.menu_overlay{
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.overlay_mobile_menu{
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    
}
.overlay_mobile_menu a{
    display: block;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.616);
    text-transform: uppercase;
    padding: .8rem 0;
}
.overlay_mobile_menu a:hover{
    color: #fff;
}
.closebtn{
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.685);
    top: 1rem;
    right: 5%;
    cursor: pointer;
    position: absolute;
}
.closebtn:hover{
    color: #fff;
}
/* end navigation */
.main{
    width: 80%;
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* header Section */
header{
    background-attachment: fixed !important;
    background-position:center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.banner_content{
    background: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    display: flex;
    height: 65rem;
    position: relative;
    justify-content: space-between;
}
.slider_image{
    width: 50%;
    position: absolute;
    right: 0;
    top: 7rem;
}
.slider_image img{
    height: 65rem;
    width: 100%;
}

.content_box{
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.content_box .bbtn:hover{
    background:rgba(11, 207, 11, 0.9);
    color: #fff;
    border: .1rem solid rgba(11, 207, 11, 0.9);
    text-decoration: none;
}
.content_box .box-title{
    font-size: 1.8rem;
    font-weight: 400;
    color: #f7f7f7;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.content_box h2{
    margin-bottom: 5rem;
}
.bbtn-1{
    background: rgba(11, 207, 11, 0.9);
    color: #fff;
    border: .1rem solid rgba(11, 207, 11, 0.9);
}
.content_box .bbtn-1:hover{
    background:transparent;
    color: #dddd;
    border: .1rem solid #ddd;
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.bbtn-2{
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    background:transparent;
    color: #dddd;
    border: 1px solid #ddd;
    text-decoration: none;
    transition: .5s;
    font-size: 1.6rem;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/*  about Section */
.about_section{
    padding: 7.5rem 0;
    background:#262728;
    padding-left: 5%;
    padding-right: 5%;
}
.about__info {
    color: #f0f0f0;
    padding: 3rem;
    box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background-color: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.about_img{
    width: 25%;
    height: 25rem;
    margin-right: 3.5rem;
}
.about_img img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.info{
    line-height: 2.5rem;
    width: 75%;
}
.info h3{
    font-size: 3.2rem;
}
.info p{
    font-weight: 300;
    color: rgba(211, 195, 195, 0.65);
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
}
.about_section .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;
}
.about_info_left h3,
.about_info_right h3{
    font-size: 2.8rem;
}
.about_info_left,
.about_info_right{
        box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
        border-radius: .5rem;
        background-color: rgba(0,0,0,.2);
        padding: 2rem;
        margin-top: 1.5rem;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 1.5rem;
        color: #fff;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
}
.about_info_left table,
.about_info_right table{
    margin-top: 2rem;
}
.about_info_left table td,
.about_info_right table td{
    padding:.7rem 1.5rem .7rem 0;
    color: #fff;
    font-size: 1.8rem;
}
.about_info_left table td:last-child,
.about_info_right table td:last-child{
    color: rgba(11, 207, 11, 0.7);
    padding-right: 0;
}
.about_social{
    padding-top: 2.5rem;
}
.about_info_right table tr td a{
    font-size: 2rem;
    color: #fff;
    padding: .5rem 1rem;
    background: rgba(11, 207, 11, 0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid rgba(11, 207, 11, 0.9);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.about_info_right table tr td a:hover{
    background: transparent;
    color: rgba(11, 207, 11, 0.9);

}
/* Counter section */
.counter_section{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
.counter_bg_overlay{
    padding: 10rem 0;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(rgba(14, 133, 3, 0.7),rgba(0, 0, 0, 0.7));
    color: #fff;
}
.counter-item{
    width: 100%;
    margin: 1.5rem auto;
}
.counter_icon{
    width: 30%;
    float: left;
    font-size: 4.5rem;
    color:rgba(11, 207, 11, 0.9);

}
.counter_text{
    width: 66%;
    float:right;
    margin-left: 4%;
}
.counter_text span{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.counter_text h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}
/* services section */
.services_section{
    padding: 7.5rem 0 12.5rem;
    background:#262728;
    padding-left: 5%;
    padding-right: 5%;
}
.services-items{
    margin: 1.5rem 0;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.services-content{
    color: #fff;
    text-align: center;
    position: relative;
    height: 100%;
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    box-shadow: -3px -3px 5px rgba(0,0,0,.2), 3px 3px 5px rgba(0,0,0,.2);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.services-content:after,
.services-content:before,
.services-items:after,
.services-items:before {
    position: absolute;
    content: '';
    background-color: rgba(11, 207, 11, 0.9);
    transition: all .9s;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -ms-transition: all .9s;
    -o-transition: all .9s;
}
.services-items:after {
    bottom: 0;
    height: .1rem;
    right: 0;
    width: 0;
}

.services-items:before {
    top: 0;
    height: .1rem;
    width: 0;
    left: 0;
}

.services-content:after {
    top: 0;
    height: 0;
    width: .1rem;
    left: 0;
}

.services-content:before {
    bottom: 0;
    height: 0;
    width: .1rem;
    right: 0;
}

.services-items:hover:after {
    width: 100%;
}

.services-items:hover:before {
    width: 100%;
}

.services-content:hover:after {
    height: 100%;
}
.services-content:hover:before {
    height: 100%;
}

.services-content:hover{
        box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
        border-radius: 5px;
        background: rgba(0,0,0,.2);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        cursor: pointer;
}
.services-content i{
    font-size: 5rem;
}
.services-content h3{
    margin: 2rem 0;
    font-size: 2.3rem;
}
.services-content p{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.65);
}
/* Hireme Section */
.hireme_section{
   background-position: center !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   background-attachment: fixed !important;
}
.hireme_bg_overlay{
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(14, 133, 3, 0.8),rgba(0, 0, 0, 0.8));
}
.hireme_content{
    padding: 7.5rem 0;
    width: 65%;
}
.hireme-img{
    height: 40rem;
    margin-top: -10rem;
    text-align: right;
    width: 35%;
}
.hireme_content h2{
    font-size: 3.5rem;
    line-height: 4rem;
}
.hireme_content p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 4.5rem;
}
.hireme_content a{
    background: transparent;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(11, 207, 11, 0.9);
    border-radius: .5rem;
    font-size: 1.6rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.hireme_content a:hover{
    color: #fff;
    background: rgba(11, 207, 11, 0.9);
}

.hireme-img img{
    max-width: 100%;
    height: 100%;
}
/* Skill section */
.skill_section{
    padding: 7.5rem 0;
    background:#262728;
    padding-left: 5%;
    padding-right: 5%;
}
.skill-item{
    box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background: rgba(0,0,0,.2);
    color: #fff;
    padding: 2rem;
    position: relative;
    margin: 1.5rem 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.skill-item:hover{
    cursor: pointer;
    border-radius: .5rem;
    box-shadow: -3px -3px 5px rgba(0,0,0,.2), 3px 3px 5px rgba(0,0,0,.2);
    background:#262728;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.skill-item h3{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}
.skill-icon{
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
}
.skill-icon i{
    font-size: 10rem;
    font-weight: 700;
    color: rgba(11, 207, 11, 0.9);
    opacity: .3;
}
.skill-item-content{
    padding-left: 2rem;
}
.skill-item-content p{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.616);
    margin-bottom: .5rem;
}
.skill-item-content p i{
    font-size: 2rem;
    margin-right: 1rem;
    color: rgba(11, 207, 11, 0.9);
}
/* Portfolio Section */
.portfolio_section{
    padding: 7.5rem 0;
    background: rgba(26, 23, 23, 0.897);
    padding-left: 5%;
    padding-right: 5%;
}
.portfolio-item{
    box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background: rgba(0,0,0,.2);
    color: #fff;
    padding:  2.5rem 2rem;
    margin: 1.5rem 0;
    overflow: hidden;
    text-align: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.portfolio-img{
    height: 22rem;
    overflow: hidden;
}
.portfolio-item:hover img{
    transform: scale(1.1);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.portfolio-img img{
    width: 100%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.portfolio-content{
    margin-top: 2rem;
}
.portfolio-content h3{
    font-size: 2.2rem;
    color: #fff;
}
.portfolio-content span{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.561);
}
.portfolio-btn{
    margin-top: 1.5rem;
}
.portfolio-btn a{
    margin: .5rem;
    border: 1px solid #dddd;
    padding:.5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.portfolio-btn a:hover{
    color: #fff;
    background: rgba(11, 207, 11, 0.9);
    border: 1px solid  rgba(11, 207, 11, 0.9);
}
.portfolio-btn a i{
    margin-right: .5rem;
}
/* testimonail section */
.testimonial_section{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
.testimonial_bg_overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(14, 133, 3, 0.8));
    padding: 7.5rem 5% 7.5rem 5%;
}
.testimonial-item{
    padding: 3rem;
    margin-top: 2.5rem;
    box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background: rgba(0,0,0,.2);
    color: #fff;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.testimonial-content{
    display: flex;
    margin-bottom: 2.5rem;
}
.client-image{
    height: 10rem;
    width: 10rem;
    margin-right: 2.5rem;
}
.client-info{
    margin-top: 1rem;
}
.client-info h4{
    font-size: 2rem;
    margin-bottom: .4rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-transform: capitalize;
}
.client-info span{
    font-size: 1.5rem;
    font-weight: 400;
    color: #dede;
}
.client-info p i{
    font-size: 2rem;
    font-weight: 400;
    color: rgb(189, 176, 0);
    margin-right: .5rem;
    margin-top: .8rem;
}
.client-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.client-review p{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.856);
}
.client-image i{
    margin-top: -3rem;
    font-size: 4rem;
    color: rgba(11, 207, 11, 0.548);
    display: block;
}

.slick-dots{
    text-align: center;
    margin-top: 5rem;
}
.slick-dots li{
    display: inline-block;
    margin: .5rem;
}
.slick-dots li button {
    background:transparent;
    color: transparent;
    border: 1px solid #fff;
    height: 2rem;
    width: 2rem;
    outline: none;
    cursor: pointer;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.slick-dots .slick-active button{
    background: #fff;
}

/* Blog section */
.blog_section{
    padding: 7.5rem 5% 7.5rem 5%;
    background:#262728;
}
.blog-item-left{
    box-shadow: -3px -3px 5px rgba(0,0,0,.2), 3px 3px 5px rgba(0,0,0,.2);
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    margin: 2rem 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.blog-img-left{
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.blog-date{
    position: absolute;
    height: 8.5rem;
    width: 6.5rem;
    background: rgba(4, 202, 4, 0.459);
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
    padding: 1.5rem 0;
}
.blog-img-left img{
    width: 100%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.blog-item-left:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.blog-content-left{
    padding: 2rem;
}
.blog-author-left{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.blog-author-left span{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
    font-weight: 300;
    text-transform: capitalize;
}
.blog-author-left span i{
    padding-right: .5rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.685);
    font-weight: 300;
}
.blog-content-left h3{
    font-size: 2.2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1.5rem;
}
.blog-content-left p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.678);
}
.blog-inner-left{
    display: flex;
    justify-content: space-between;
}
.blog-inner-left a{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.931);   
}
.blog-inner-left a i{
    margin: 0 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.blog-inner-left a:hover{
    color: rgba(3, 185, 3, 0.883);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.blog-inner-left a:hover i{
    padding: 0 .5rem;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/* Contact section */
.contact_section{
    padding: 7.5rem 5% 7.5rem 5%;
    background:#2d2e2f;
}
.contact_form{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-top: -2rem;
}
.formcp{
    box-shadow: inset -2.5px 2.5px 1px 0 rgba(0,0,0,.4), inset 3px -3px 2px 0 rgba(20,22,28,.1), -1px 1px 3px 0 rgba(63,69,87,.5);
    border-radius: .5rem;
    background: rgba(0,0,0,.2);
    color: #fff;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    border: 0;
    padding: 1rem 1.5rem;
    outline: none;
    margin: 1.5rem 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.btn-submit{
    padding: 1rem 1.5rem;
    border: 1px solid rgba(3, 185, 3, 0.883);
    background: rgba(3, 185, 3, 0.883);
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.btn-submit:hover{
    border: 1px solid rgba(3, 146, 3, 0.883);
    background: rgba(3, 146, 3, 0.883);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/* Footer Section */
.footer-top{
    padding: 5rem 5% 5rem 5%;
    background: rgba(36, 35, 35, 0.301);
}
.footer-content{
    color: #fff;
    margin: 1.5rem 0;
}
.footer-content h3{
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.footer-content p{
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.76);
}
.footer-content p i{
    font-size: 2rem;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
}
.footer-content p a{
    color: rgba(255, 255, 255, 0.76);  
    font-size: 1.6rem;
}
.footer-content p a:hover{
    color: rgba(3, 146, 3, 0.883);
}
.footer-bottom{
    background: rgba(20, 20, 20, 0.685);
    padding: 2rem 5% .5rem 5%;
    text-align: center;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.431);
    text-transform: capitalize;
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    text-align: right;
}
.footer-copyright{
    text-align: center;
}
.footer-logo img{
    height: 4rem;
    opacity: .5;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footer-logo img:hover{
    opacity: .9;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footer-socil-link{
    text-align: left;
}
.footer-socil-link a{
    font-size: 2rem;
    margin-right: .5rem;
    border: 1px solid transparent;
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color:rgba(255, 255, 255, 0.445) ;
}
.footer-socil-link a:hover{
    border: 1px solid rgba(126, 118, 118, 0.24);
    background: rgba(126, 118, 118, 0.24);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    color: #fff;
}